<div class="guide-map-container">

	<ngui-map 
		[(zoom)]="zoom"
		[mapTypeId]="mapType">
		
	    <marker *ngFor="let item of items"
	    	[position]="item.position"
	    	[title]="item.name"
	    	(click)="onMarkerClick($event, item)"
	    	(dblclick)="onMarkerDoubleClick($event, item)"
	    	>
    		
	    </marker>
	    <info-window *ngFor="let item of items"
	    	id="iw-{{item.id}}"
	    	>
			<a class="btn rounded-btn" routerLink="{{item.uri}}" ><strong>{{item.name}}</strong></a>
			<p>{{item.info}}</p>
    	</info-window>
	</ngui-map>
	
</div>
